{% extends 'base.html.twig' %}

{% block body %}
    <div class="entity_title">
        <h1>Books edit</h1>
        {{ form_start(delete_form) }}
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="{{ path('book_index') }}">Back to the list</a>
            <input type="submit" class="btn btn-danger" value="Delete">
        </div>
        {{ form_end(delete_form) }}
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Save edit" />
    {{ form_end(edit_form) }}
{% endblock %}
