{% extends 'base.html.twig' %}

{% block body %}
    <div class="entity_title">
        <h1>Book creation</h1>
        <a class="btn btn-success float-right" href="{{ path('book_index') }}">Back to the list</a>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create book" />
    {{ form_end(form) }}
{% endblock %}
