{% extends 'base.html.twig' %}

{% block body %}
    <div class="entity_title">
        <h1>Books</h1>
        {{ form_start(delete_form) }}
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="{{ path('book_index') }}">Back to the list</a>
            <a class="btn btn-primary" href="{{ path('book_edit', { 'id': book.id }) }}">Edit</a>
            <input type="submit" class="btn btn-danger" value="Delete">
        </div>
        {{ form_end(delete_form) }}
    </div>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ book.amount }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
