{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Library made by <a href="mailto:piotr@bozetka.net">Piotr Bożętka</a></h1>
            </div>
        </div>
    </div>
{% endblock %}
